.password-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

    .password-info.active {
        max-height: 200px;
        opacity: 1;
        transform: translateY(0);
    }

.fondo-personalizado {
    background-image: url('../Content/Sistema/logoAcadem.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
