.Content-general {
    max-width: 75%;
    margin: 0 auto;
}

.textbox-delgado {
    border: 1px solid #999; /* Borde negro clarito y delgado */
    border-radius: 4px;
    padding: 6px 10px;
    outline: none;
    box-shadow: none;
    transition: border-color 0.2s ease-in-out;
}

    .textbox-delgado:focus {
        border-color: #000; /* Borde más oscuro al enfocar */
    }
.btn-primary {
    background-color: #FFD000;
    border-color: #FFD000;
    color: #333;
}

    .btn-primary:hover {
        background-color: #e6bd00;
        border-color: #e6bd00;
    }

.section-header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .25rem;
}

/* Estilo exclusivo para contform */
#contform {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}